#IDEA project files
.idea/*
#build files
target/*
#logs
logs/*
#local dev resources
resources/*
#completly ignore test directory
**/test/**
#completly ignore target directory
**/target/**
#ignore jetbrains .iml configs
***.iml
#ignore minified jre path
jre/*
#ignore release directory
release/*
#ignore local debug files
debug/*
#ignore linux build directory
build/*
#ignore linux build log
build.log
#ignore linux run script
swift-rift.sh
